<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/css/main.css">
    <title>Bright Wheel</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div id="content"><div>
      </div>
    </div>

    <script type="text-template" id="main-template"> 
        <% let list = _.sortBy(items, 'score') %>
        <% _.each(list, function(json) { %>

            <div class="row">
                <div class="col-1" style="max-width: 50%">
                    <span class="bold"><img src="<%= json.owner.avatar_url %>" style="max-width: 100px;" />
                </div>
                <div class="col-8">
                    <div class="col"><span class="bold red">Score: </span><%= json.score %></div>
                    <div class="col"><span class="bold">Full Name: </span><%= json.full_name  %></div>
                    <div class="col"><span class="bold">Name: </span><%= json.name %></div>
                    <div class="col"><span class="bold">Description: </span><%= json.description %></div>
                    <div class="col"><span class="bold">Watchers: </span><%= json.watchers %></div>
                    <div class="col"><span class="bold">URL: </span><%= json.url %></div>
                    <div class="col"><span class="bold">Forks: </span><%= json.forks %></div>
                </div>
            </div>
            <hr/>
        <% }) %>
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script data-main="app/app" src="node_modules/requirejs/require.js"></script>
  </body>
</html>
